@use '../../foundation/mixin' as m;

.p-nav{
    position: relative;
    top: 130px;
}
.p-nav__title{
    @include m.pc{
        position: relative;
        top: 80px;
        left: 40px;
    };

}
.p-nav__item{
    font-size: 20px;
}
.p-nav__item:first-child{
    padding-top: 30px;
}
.p-nav__item:last-child{
    padding-bottom: 50px;
}

.p-nav__bg{
    position: fixed;
    height: 0;  //デフォルトは0で背景色なし。
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9995;
}



/************************/
/*      WordPress       */
/************************/
// メニューのul要素
.menu > li > a {
    font-weight: bold;
}
// サブメニューのul要素
.sub-menu{
    padding-left: 10px;
}
