@use '../../foundation/mixin' as m;

/************************/
/*      WordPress       */
/************************/

.p-single-roop h2,
.p-single-roop h3,
.p-single-roop h4,
.p-single-roop h5,
.p-single-roop h6{
    color: #3C2A10;
    font-weight: bold;
    font-family: 'M PLUS 1p', sans-serif;
    line-height: 29px;
    padding-bottom: 25px;
}

.p-single-roop .wp-block-preformatted{
    color: #3C2A10;
    line-height: 23px;
    font-family: 'M PLUS 1p', sans-serif;
    padding-bottom: 25px;
}
.p-single-roop ol li{
    list-style: auto; 
}
.wp-block-media-text p,
.p-single-roop ol li,
.p-single-roop ul li,
.wp-block-code{
    color: #3C2A10;
    line-height: 23px;
    font-family: 'M PLUS 1p', sans-serif;    
}
.wp-block-code{
    padding: 30px;
    background-color: #F5F5F5;
}
.wp-block-column tr td{
    border: 1px #707070 solid;
}
